/* Styling applying to 1024px and smaller, barring what is mentioned specifically in the responsive to 
mobile screens section */


header{
    grid-area: header;
 text-align: center;
    font-size: 120%;
    width: 100%;
    height: 100%;
}

.headerImage
{
  position: top;
  display: block;
  height: 40px;
}

.headerImage img
{
  width: 100%;
  height: auto;
  display: block;
}

.bannerH
{
left: 0;
top: 0;
width: 100%;

}



  /*  background: rgb(194,167,179);
  background: linear-gradient(90deg, rgba(194,167,179,0.4570027840237657) 0%, rgba(166,180,195,0.5382352770209646) 100%); 
  Or
  */

.container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 
      "header header header"
      "aside main aside1"
      "aside footer aside1";
    grid-gap: 0;
    height: 100%;
}

h1, h2, h3, h4 {
  text-align: center;
}

main {
    grid-area: main; 
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    height: 100%;
}


.headingbox {
    padding: 1% 1% 1% 5%;
    font-size: 100%;
    background:rgba(255,255,255,0.75);
}

 /* Not currently in use:
  .headingbox img
  {
  }

  */


.card {
    /* Added shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: fit-content;
    background: rgb(255,255,255);
    background: linear-gradient(110deg, rgba(255,255,255,1) 0%, rgba(255,255,253,0.4962184702982756) 0%, rgba(231,190,36,0.4429971817828694) 17%, rgba(214,63,68,0.4962184702982756) 34%, rgba(36,140,179,0.4710083862646621) 64%, rgba(29,47,113,0.4822128680573792) 97%);   
    border-style: solid;
    
    border-color: rgb(101,98,98);
    border-color: radial-gradient(circle, rgba(101,98,98,1) 53%, rgba(54,53,53,1) 88%); 
  
  }


.cardbody {
  border-radius: 5px 5px 0 0;
  border-collapse: collapse;
  width: fit-content;
  padding: 5% 10%;
  text-align: center;
  

}

.introCard {
  border: .05px solid white;
  border-radius: 5px 5px 0 0;
  border-collapse: collapse;
  height: fit-content;
  height: fit-content;
  padding: 5% 10%;
  text-align: center;
  background: rgb(101,98,98);
  background: radial-gradient(circle, rgba(101,98,98,0.5242296747800683) 53%, rgba(54,53,53,0.4485994226792279) 88%);
}



/* On hover add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.aside{  /* Created to centre the content viewpoint for the user */
    grid-area: aside;
    background-image: url('./Resources/Skyline.jpeg');
    background-repeat: no-repeat, repeat;
}

.aside1{ /* Created to centre the content viewpoint for the user */
    grid-area: aside1;
    background-color: 353535;
}

footer{ /* Useful to have for layout, but also a client might want to utilise it, so best to have it there 
  just in case */
    grid-area: footer;
    background-color: none;
    height: 100%;
}



/* Float columns side by side */
.column1 {
  float: left;
  padding: 2%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3%;
}

/* float after the columns */
.row:after {
  padding: 2%;
}


.row2 {
  display: grid;
  padding-top, padding-bottom: 3%;
}

/* float after the columns */
.row2:after {
  padding: 2%;
}

/* Responsive columns 70rem max */
@media screen and (max-width: 70rem) {
.container {
    display: grid;
    grid-template-rows: .8fr 5fr .8fr;
    grid-template-columns: .8fr 10fr .8fr;
    grid-template-areas: 
      "header header header"
      "aside main aside1"
      "aside footer aside1";
    grid-gap: 0;
    height: 100%;
}
.main
    {
    height: 100%;
    }

}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* Responsive columns 50rem max */
@media screen and (max-width: 50rem) {

  header{
    grid-area: header;
    text-align: center;
    font-size: 100%; /* This seemed sufficient for smaller screens, rather than the original 120% */
}

    .container {
      display: grid;
      grid-template-rows: .1fr 2fr .1fr;
      grid-template-columns: .1fr 1fr .1fr;
      grid-template-areas: 
        "header header header"
        "aside main aside1"
        "footer footer footer";
      grid-gap: 0;
  }


  .row {
    display: grid;
    grid-template-columns: 1fr;
  }

  img { 
    width: auto;
    height: auto;
    }

    .cardbody {
        border: .05px solid white;
        border-radius: 5px 5px 0 0;
        border-collapse: collapse;
        width: 90%;
        height: 90%;
        padding: 5%;
        text-align: center;
      }

      .introCard {
        border: .05px solid white;
        border-radius: 5px 5px 0 0;
        border-collapse: collapse;
        width: 90%;
        height: 90%;
        padding: 5%;
        text-align: center;
      }

}
